
@font-face {
    font-family: copperplate_gothic_boldRg;
    src: url('../fonts/coprgtb-webfont.eot');
    src: url('../coprgtb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coprgtb-webfont.woff') format('woff'),
         url('../fonts/coprgtb-webfont.ttf') format('truetype'),
         url('../fonts/coprgtb-webfont.svg#copperplate_gothic_boldRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: copperplate_gothic_lightRg;
    src: url('../fonts/coprgtl-webfont.eot');
    src: url('../fonts/coprgtl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coprgtl-webfont.woff') format('woff'),
         url('../fonts/coprgtl-webfont.ttf') format('truetype'),
         url('../fonts/coprgtl-webfont.svg#copperplate_gothic_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*--------------General -------------*/

h1 {
	font-family: Copperplate, "Copperplate Gothic Bold", fantasy; 
	color: black; 
	text-align: center; }
h2  {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
 	color: black; 
 	text-align: center; 
 	margin-bottom: 50px}
 	
h3 {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	color: black;
	text-align: left}

p{
	font-family: Lucida Sans Unicode; color: black; text-align: left;margin-bottom: 50px}



.container-fluid {
  /*----to avoid border on backgound -----*/
	padding-left: 0px;
	padding-right:0px}

.row{
   margin-right: 0px; 
}




/*------------menu ----------------*/


.nav {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
	font-size:1.5em; }

.nav a{
	color:black;}

.nav > li > a {
  display: inline;
  padding: 10px 15px;
  position: relative;
  float:right;
 }
 
.navbar-fixed-bottom .nav li {
  float: right;}

.navbar-toggle {
	border: 1px solid black; }

.navbar-toggle .icon-bar {
    background-color: black ;}

#mainmenu .nav li {
  float: left;
}
#mainmenu {
position: fixed;
bottom: 0px;
z-index:1050}

#mainmenu  ul ul{
display:none;
position:absolute;
width:200px;
margin:0;
top:100%;

}
#mainmenu li.active a {
  background-color: #F9EB52;
}

#mainmenu {float: left}

#mainmenu  ul ul{float: left}

/*------------sh-manifest--------*/

	/*-------------to solve IE7 backgoundimage--------*/
	#bg { 
		display:none }
	.bgwidth { 
		width: 100%; }
	.bgheight { 
		height: 105%; }



.item-page li {list-style-image: url(../images/smiley-homes-list.png)}

#sh-manifest{
	position:relative
	font-family: Helvetica,Arial,sans-serif;	
	background-image:url(../images/background.png);
	background-position: 50% 0px;
	background-repeat:no-repeat;
	-webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;  }
    
    #sh-manifest h3 {
		vertical-align:middle;}

#logo-img {margin-top: 15px;}

#logo-img {width:20%; margin-right:auto; margin-left:auto; }

.email a:link, .email a:visited{color:black}
.logo {padding: 0px}


/*------------projekt Zirl---------------*/


#projekt_zirl{background: transparent}
#projekt_zirl img {
	width:100%}


#projekt_zirl h1{ color: #eeeeee}
#projekt_zirl h2{ 
	font-family: copperplate_gothic_lightRg; 
	font-size: 4em; 
	color: #527ea1;
	font-weight: 900; 
	text-shadow: 1px 1px #000000; 
	text-align: left;  
	background-color: rgba(255,255,255,0.4)}


#projekt_zirl { 
	position: relative;
	top: 20px}

#zirl-content{background: transparent
	
}
.bgbox {
	background:  url('../images/DSCN1101.jpg');
	background-size: cover;
	 background-repeat: no-repeat; 
	background-position:center center ;
  background-attachment:fixed;
  height: 1400px;
}

#zirlbgiphone{display: none}
/*-------wohnungen ---------------*/

tbody {background: #fff}

#wohnungen p {margin-bottom: 0px;}

.centriert {text-align: center}

#wohnungen h3 {}

.bgboxwohnungen {
	background:  url('../images/wohnbg.png');
	background-repeat: no-repeat; 
	background-size: cover;
	background-position:center center ;
  background-attachment:fixed;
  height: 1000px;

}
#wohnungenbgiphone {display: none}

/*--------kontakt ---------------*/



#kontakt  img {width:100%}





/*--------------socials -------------*/ 

ul.socials  {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

ul.socials li  {
    display: inline-block;
    margin: 0 0.4em 0 0;
    padding: 0;
}

.socials i{
    text-indent: -9999px;
    width: 48px;
    height: 48px;
    display: block;
}

.sprite {
    background: url('../gfx/social-sprite.png') no-repeat 0px 0px;
}

.fb {background-position: 0px -50px;}
.fb:hover {background-position: 0px 0px;}
.tw {background-position: -50px -50px;}
.tw:hover {background-position: -50px 0px;}
.go {background-position: -100px -50px;}
.go:hover {background-position: -100px 0px;}


/*------others-------*/

.navbar-brand {
	height:0px}

#login {	
	height:60px;
	width: 181px;
	position: fixed; 
	top: 0px; 
	left: 0px; 
	background-color: white ; 
	overflow: hidden;
	}
#login:hover{
height:auto;
width: 200px}

#login-form p {margin-bottom: 0px}


	
#padre2{
	position: fixed; 
	top: 0px; 
	left: 0px; 
	
}


#button-login{
	
	top: 0px; 
	left: 10px; 
}
.nodisplay {display: none}
#login-img{
	width:50px;
	height:50px;
}

#demo{
	
	position: relative;
	float:left;
	top: 0px; 
	left: 0px; 
	background-color: white ; 
	overflow: hidden;
	}



#login h3 {
	text-align:center;
}

.form-horizontal .control-label {
  text-align: left;}


.fusszeile{
      clear: both;
      text-align: left;
      font-size: small;
      font-style: italic;
      color: black;
}

/*------------------MEDIAS ---------------------*/ 

/*-----------------HANDY-----*/
@media only screen and (max-width: 37.5em) and  (-webkit-min-device-pixel-ratio: 1) { 
	#sh {width:100px;height:100px}
	
	#svg18832{width:100%}
	
	
	#logo-img {
		width:25%; 
		margin-right:auto; 
		margin-left:auto; }
	 
	#projekt_zirl h2{ 
		font-family: copperplate_gothic_lightRg; 
		font-size: 1em; color: #527ea1;
		font-weight: 900; 
		text-shadow: 1px 1px #000000; 
		text-align: left;  
		background-color: rgba(255,255,255,0.4);
		margin-left: 20px;}
		
	#sh-manifest h1 {
		font-size: 2em;
		line-height: 1em;}
		
	#sh-manifest h3 {
		margin-top: 10px;
		font-size: 1em;
		line-height: 1em;
		}
		
	.item-page li {list-style:initial}	
		
	 .no-handy, #sh-manifest  p {
		display:none;}
		
	#wohnungen h3{
		font-size: 0.8em}
		
	#buto {
		position:relative;
		right: 10px;
	}
	
	.bgbox {
	background:  url('../images/DSCN1101.jpg');
	background-size: cover;
	 background-repeat: no-repeat; 
	background-position:center center ;
   background-attachment: fixed;
	  height: 1000px;
	  
	
    }

	
	.bgboxwohnungen {
	background:  url('../images/wohnbg.png');
	background-repeat: no-repeat; 
	background-size: cover;
	background-position:center center ;
  background-attachment:fixed;
  height: 1000px;

}
	
	
	ul.socials li  {
    display: block;
    margin: 0 0.4em 0 0;
    padding: 0;
	}
	.socials i{
	    text-indent: -9999px;
	    width: 32px;
	    height: 32px;
	    display: block;
	}
	
			
		.sprite {
	    background: url('../gfx/social-sprite-small.png') no-repeat 0px 0px;
	}
	
	.fb {background-position: 0px -33px;}
	.fb:hover {background-position: 0px 0px;}
	.tw {background-position: -33px -33px;}
	.tw:hover {background-position: -33px 0px;}
	.go {background-position: -66px -33px;}
	.go:hover {background-position: -66px 0px;}

	#login {
	display:none ;
	height:auto;
	width: 150px;
	position: fixed; 
	top: 0px; 
	left: 0px; 
	background-color: white ; 
	overflow: hidden;
	}


	
#padre2{
	position: fixed; 
	top: 0px; 
	left: 0px; 
	
}


#button-login{
	display:block;
	top: 0px; 
	left: 10px; 
}

#login-img{
	width:50px;
	height:50px;
}

#demo{
	
	position: relative;
	float:left;
	top: 0px; 
	left: 0px; 
	background-color: white ; 
	overflow: hidden;
	}

		
}
/*----------------------------Iphone to solve problem wih background-attachment--------------*/

@media only screen and (max-width: 37.5em) and  (-webkit-min-device-pixel-ratio: 2) { 
#projekt_zirl h1{ color: #111111}

.bgbox {
	background:  transparent;
	background-size: cover;
	 background-repeat: no-repeat; 
	background-position:center center ;
box-sizing: content-box;

	  height: auto;
	
}

#zirlbgiphone{display: block}
	.bgboxwohnungen {
	background:  transparent;
	background-repeat: no-repeat; 
	background-size: cover;
	background-position:center center ;
  background-attachment:scroll;
  height: auto;

}
#wohnungenbgiphone{display: block}
}




}
		
/*------------------------Ipad----------------*/	
@media only screen and  (min-width: 37.5em) and (max-width: 64em) and (-webkit-min-device-pixel-ratio: 2) { 

	

ul.socials li  {
    display: block;
    margin: 0 0.4em 0 0;
    padding: 0;
	}

.bgbox {
	background:  url('../images/DSCN1101.jpg');
		-webkit-background-size: cover;
	 background-repeat: no-repeat; 
	background-position:center center ;
	background-attachment:fixed;
	height: 1400px;
}


	
#logo-img {width:25%; margin-right:auto; margin-left:auto; }

#projekt_zirl h2{ font-family: copperplate_gothic_lightRg; font-size: 160%; color: #527ea1;font-weight: 900; text-shadow: 1px 1px #000000; text-align: left;  background-color: rgba(255,255,255,0.4)}

}
/*------------------------Ipad  1-2 not supporting image background fixed ----------------*/

 
@media only screen
  and (min-width: 37.5em)
  and (max-width: 64em)
    and (-webkit-min-device-pixel-ratio: 1) {
  
  	 
ul.socials li  {
    display: block;
    margin: 0 0.4em 0 0;
    padding: 0;
	}

  
  .bgbox {
	background:  url('../images/DSCN1101.jpg');
		-webkit-background-size: cover;
	 background-repeat: no-repeat; 
	background-position:left top ;
    height: 1400px;
	
}


	.bgboxwohnungen {
	background:  transparent;
	background-repeat: no-repeat; 
	background-size: cover;
	background-position:center center ;
  background-attachment:scroll;
  height: auto;}

	
#logo-img {width:25%; margin-right:auto; margin-left:auto; }

#projekt_zirl h2{ font-family: copperplate_gothic_lightRg; font-size: 160%; color: #527ea1;font-weight: 900; text-shadow: 1px 1px #000000; text-align: left;  background-color: rgba(255,255,255,0.4)}


}




/*---------normal screen  ---------------*/

@media only screen and (min-width: 64em) and (max-width:  74.93em) { 

	#logo-img {width:25%; margin-right:auto; margin-left:auto; }
	
	#projekt_zirl h2{ 
	
	font-family: copperplate_gothic_lightRg; 
	font-size: 160%; 
	color: #527ea1;
	font-weight: 900; 
	text-shadow: 1px 1px #000000; 
	position: absolute; 
	top: 70%; 
	left:40%; 
	text-align: left; 
	width:60%; 
	background-color: rgba(255,255,255,0.4)}


 }

/*------------------------big screens-----------------*/
 

@media only screen and (min-width:  1199px) { 

	#logo-img {width:25%; margin-right:auto; margin-left:auto; }
	#projekt_zirl h2{ font-family: copperplate_gothic_lightRg; 
	font-size: 160%; 
	color: #527ea1;
	font-weight: 900; 
	text-shadow: 1px 1px #000000; 
	position: absolute; top: 70%; 
	left:40%; 
	text-align: left; 
	width:60%; 
	background-color: rgba(255,255,255,0.4)}
}

/*----------------------print -------------------*/

@media only print {
		  a:link:after, a:visited:after {    
		  content: "  ";    }
		   body
		{
		   
				background-image:url(../images/background.png);
				background-position: 50% 0px;
				background-repeat:no-repeat;
				-webkit-background-size: auto 1938px;
		  -moz-background-size: auto 1938px;
		  -o-background-size: auto 1938px;
		  background-size: auto 1938px;  **/
		
		}
		#bg { display: none}
		.item-page li {list-style: disc}
		h2  {font-family: Arial, Helvetica, sans-serif;
		font-size: 3vw; color: black; text-align: center; margin-bottom: 50px}
		h3 {font-family: Arial, Helvetica, sans-serif;
		font-size: 2vw; color: black;text-align: left}

}







