body
{
        font-family: Helvetica,Arial,sans-serif;
		
		background-image:url(../images/background.png);
		background-position: 50% 0px;
		background-repeat:no-repeat;
		-webkit-background-size: 2500px;
  -moz-background-size: 2500px;
  -o-background-size: 2500px;
  background-size: 2500px;
}

.logo {padding: 0px}
@font-face{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
   /**  url('font/gillsansmtpro-ultrabold-webfont.eot') format('eot'),
          url('font/gillsansmtpro-ultrabold-webfont.woff') format('woff'),
          url('font/gillsansmtpro-ultrabold-webfont.ttf') format('truetype'),
          url('font/gillsansmtpro-ultrabold-webfont.svg#abcd') format('svg');
    font-weight: normal;
   font-style: normal; **/
}

.logo {}
.logo img {width:25%; margin-right:auto; margin-left:auto; }

h1 {font-family: Copperplate, "Copperplate Gothic Bold", fantasy;
; color: black; text-align: center; }
h2  {font-family: Copperplate, "Copperplate Gothic Light", fantasy;
font-size: 3vw; color: black; text-align: center; margin-bottom: 50px}
h3 {font-family: Copperplate, "Copperplate Gothic Light", fantasy;
font-size: 2vw; color: black;text-align: left}

p{font-family: Lucida Sans Unicode;
font-size: 1.5vw; color: black; text-align: left;margin-bottom: 50px
}
#menuspace {height: 80px}
#login {position: fixed; bottom: 50px; right: 100px; background-color: white ; display: none}
#projekt_zirl { position: relative;top: 20px}

#login:hover {display: block}
.form-horizontal .control-label {
  text-align: left;
}

#wohnungen p {margin-bottom: 0px;}

.fusszeile
{
      clear: both;
      text-align: left;
      font-size: small;
      font-style: italic;
      color: black;
}
.nav {font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size:2em }
.nav a{color:black}
.nav > li > a {
  display: inline;
  padding: 10px 15px;
  position: relative;
  float:right;
}
.navbar-fixed-bottom .nav li {
  float: right;
}
.caret {color:black}
.item-page li {list-style-image: url(../images/smiley-homes-list.png)}
.suche
{
	 color: black;
}
