body
{
        font-family: Helvetica,Arial,sans-serif;
		color:black; font-size: 100%;
                           
}
.header{
	padding: 15px; 
}

@font-face{
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
   /**  url('font/gillsansmtpro-ultrabold-webfont.eot') format('eot'),
          url('font/gillsansmtpro-ultrabold-webfont.woff') format('woff'),
          url('font/gillsansmtpro-ultrabold-webfont.ttf') format('truetype'),
          url('font/gillsansmtpro-ultrabold-webfont.svg#abcd') format('svg');
    font-weight: normal;
   font-style: normal; **/
}

#nav {font-family: Copperplate, "Copperplate Gothic Light", fantasy; font-size:2em }
.logo img {width:150px}

#sticky_navigation_wrapper { position: fixed; z-index:1;  }

#home ul {position:relative;top:300px}




.nav li {float:left}

.fusszeile
{
      clear: both;
      text-align: center;
      font-size: small;
      font-style: italic;
      color: gray;
}


#maincontent img{width: 100%}
.item-image {width:100%}
.suche
{
	float: left;
}

#nav .current a {
	background: #666;
	color: #ededed;
}
#sticky_navigation {width:100%}

#konzept {min-height:500px;
font-family: Copperplate, "Copperplate Gothic Light", fantasy;
font-size: 3vw}
@media only screen and (max-device-width: 767px) { 
	.container{width:650px}
	
	
	 }
	 

@media only screen and (min-width: 767px) { 
	.container {}
	
	 }