<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="params" label="Gallery parameters" description="Gallery parameters" >
		<field name="cat_path" type="text" default="images/dreamworkgallery/galleries" label="Categories Images Folder" description="The path where Categories Images will be stored" size="80" />
		<field name="pic_path" type="text" default="images/dreamworkgallery/gallery" label="Pictures Images Folder" description="The path where Pictures Images will be stored" size="80" />
		<field name="thumb_x" type="text" default="70" label="Generated Thumb Widht" description="Auto Generated Thumb Widht" size="8" />
		<field name="thumb_y" type="text" default="50" label="Generated Thumb Height" description="Auto Generated Thumb Height" size="8" />
		<field name="secur_w" type="text" default="telx3eis7d" label="Component Security Word" description="Please type random unique word containing symbols: a-zA-Z0-9" size="8" />
		
		<field name="thumbnailBaseWidth" type="hidden" default="180" />
		<field name="thumbnailBaseHeight" type="hidden" default="180" />
		<field name="resize_type" type="hidden" default="2" />
		<field name="rsplastwh" type="hidden" default="" />
	</fieldset>
</config>